@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    
    <h1>Create</h1>
    <partial name="PartialViews/CreateEditDepartmentPartial"/>

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidationScriptsSection {
    <partial name="_ValidationScriptsPartial" />
}